<% filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.all_taxons] %>
<div class="dropdown">
  <%= link_to "Product By Price", '',  {'data-toggle'=>'dropdown', :class=>'dropdown-toggle'} %>
  <% unless filters.empty? %>
    <%= form_tag '', method: :get, id: 'sidebar_products_search', class:'dropdown-menu' do %>
      <%= hidden_field_tag 'per_page', params[:per_page] %>
      <% filters.each do |filter| %>
        <% labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]} %>
        <% next if labels.empty? %>
        <div class="navigation" data-hook="navigation">
          <ul class="list-group list-inline">
            <% labels.each do |nm,val| %>
              <% label = "#{filter[:name]}_#{nm}".gsub(/\s+/,'_') %>
              <li class="list-group-item">
                <label class="custom-checkbox">
                  <input type="checkbox"
                         id="<%= label %>"
                         name="search[<%= filter[:scope].to_s %>][]"
                         value="<%= val %>"
                         <%= params[:search].present? && params[:search][filter[:scope]] && params[:search][filter[:scope]].include?(val.to_s) ? "checked" : "" %> />
                  <label class="nowrap" for="<%= label %>"> <%= nm %> </label>
                  <span class="checkmark"></span>
                </label>  
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= submit_tag Spree.t(:search), name: nil %>
    <% end %>
  <% end %>
</div>
