<fieldset id="password-credentials">
  <%= f.select :customer_type, ['User', 'Vendor'], { prompt:'customer-type' }, :class => 'form-control customer-type', :placeholder => Spree.t(:customer_type)%>
  <%= f.fields_for :vendors_attributes do |tf| %>
    <div class="form-group input-group vendor">
      <span class="input-group-addon"><i class=" fa fa-user"></i></span>
      <%= tf.text_field :name, :class => 'form-control', :placeholder => Spree.t(:vendor_name) %>
    </div>
  <%end%>
  <div class="form-group input-group">
    <span class="input-group-addon"><i class=" fa fa-user"></i></span>
    <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email) %>
  </div>
  <div class="form-group input-group">
    <span class="input-group-addon"><i class=" fa fa-key"></i></span>
    <%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>
  </div> 
  <div class="form-group input-group">
    <span class="input-group-addon"><i class=" fa fa-key"></i></span>
    <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password) %>
  </div> 
</fieldset>
<div data-hook="signup_below_password_fields"></div>
